<br><br>
<div class="container" style="margin-left: 20%;">
    <h3 style="text-align: center;">Why do we need to research</h3>
    <br><br>
<p>
    Research is fundamental to advances in human society. It emerges 
    from our innate desire as human beings to seek to improve our 
    lives and to control the world around us. To do this we have to 
    improve our understanding and our insight – we have to know how 
    things work (or don’t work) so that we can find different ways to 
    use them or make them more efficient. <br><br>

    Leonardo Da Vinci, who was obsessed with trying to understand the 
    inner workings of human anatomy (amongst many other things) 
    (Clayton & Philo, 2010), believed that if he could show how the 
    physical body worked, he could also explain our spiritual or 
    emotional nature. As such, he epitomised the original meaning of 
    the word ‘research’, which is derived from the French ‘recerchier’ or 
    ‘to go about seeking’. In Da Vinci’s case, this often meant seeking 
    out dead bodies that he could dissect and draw, but thankfully the 
    seeking you will do for your dissertation is likely to involve only 
    living people.
</p> <br><br>
<h5>The Choices You Make in Research</h5>
<p>
    It is important to remember that research is not just about 
    gathering information. In many ways, the choices researchers make 
    about what to search represents how they see the world and the 
    things that they value. In short, research is philosophical. This 
    might seem like a daunting statement for someone embarking on a 
    piece of management research, but the best research and 
    researchers recognise that there are always critical underlying 
    philosophical assumptions that underpin their approach. <br><br>

    Take research into voter choices used in political polling as an 
    example. At one level, this is about simply asking voters to say 
    which party they want to vote for and why. Pollsters (or 
    researchers) then take these answers and, through the use of 
    statistical analysis, extrapolate from them to the whole 
    population. But at a deeper level, this represents a philosophy 
    that the use of statistics and probability can reveal the truth 
    of who will win the election, and that this truth just needs to 
    be revealed through sophisticated research. This is what is 
    called an objectivist position – we can state an objective truth 
    about something. <br><br>

    But other researchers reject this philosophy and take a more 
    interpretivist position. They say that research needs to take 
    account of the impact of experiences and language and that the 
    central goal of research is to reveal the truth as seen by those 
    you are researching. This means using research to explore 
    subjective truth – that is a truth that is personal to the 
    individual or group. Some researchers go so far as to deny the 
    notion of objective truth, instead claiming that our reality is 
    socially constructed and a matter of perception. We will return 
    to these ideas later in the course, but they are important to 
    think about now because they show that the act of research is 
    more than just asking a few questions, it should be a process 
    through which we are forced to consider (even in a small way) 
    fundamental questions of what is truth and what is reality.
</p> <br><br>
<h5>Practical Research</h5>
<p>
    This presents research as a matter for grey-haired university 
    professors to debate in their ivory towers. And whilst there may 
    be some truth to that, research is also about the practical 
    activity of gathering data and reporting findings to address 
    important and relevant issues. <br><br>

    Much of what we think of when we talk about research is conducted 
    within universities, and academic research is often considered the 
    gold standard as it is based on important concepts of academic 
    freedom (the ability to choose what and how to research), 
    independence (not subject to or funded by special interests or 
    political agendas) and rigour (following a set process for 
    gathering and reporting data). <br><br>

    In any research that you develop, you will be expected to show 
    that you can use academic literature to help justify your main 
    area of interest. But it is vital to remember that research 
    exists in many different fields and that this research also plays 
    a vital role in developed economies. <br><br>

    For example, in 2018 the UK spent £37.1bn on Research and 
    Development (R&D), the majority of which was funded by private 
    companies (Rhodes et al., 2020). In 2020 the British multinational 
    pharmaceutical company GSK reported spending £4.7bn on R&D, and 
    governments across the world invest heavily in research to help 
    them develop key policies (Staines, 2020). <br><br>

    All this adds up to a picture in which research is not a 
    peripheral activity undertaken by academics but part of the 
    human condition and critical to how we engage with and understand 
    the world around us.
</p><br><br>
</div>