<div class="flex-container bg alert alert-success">
  <div style="margin-left: 18%;"><img src="../../../assets/EnvCareBG-5.png" alt="Girl in a jacket" width="250" height="150"></div>
  <div><h1 style="color: rgb(81, 139, 120);">Research Information System (RIS)</h1></div> 
</div>

<div style="margin-left: 16%;">
<div class="bg-image" style="background-image: url('../../../assets/EnvCareBG-2.png');   background-repeat: no-repeat;background-size: cover;">

    <main role="main">
      <!-- <button style="margin-left: 30px; margin-top: 10px;" class="btn btn-primary btn-sm" (click)="newMessage()">Change Share component value</button>
      <p>Parent Component {{sharedMessage}}</p> -->

<br><br>
<div class="container">
  <div><h5><a style="color: rgb(126, 91, 133);" [routerLink]="['/research']" href="#">>> Why do we need to research?</a></h5></div><br>
  <div><h5><a style="color: rgb(126, 91, 133);" [routerLink]="['/sampling']" href="#">>> What is the purpose of sampling in research?</a></h5></div><br>
  <div><h5><a style="color: rgb(126, 91, 133);" [routerLink]="['/rissoft']" href="#">>> What is the need for using RIS software and how can this software help in the field of information and research?</a></h5></div><br>
</div>

<br><br>


      <!-- FOOTER -->
      <!-- <div class="bg alert alert-warning">
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2023-2024 EnvCare &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div>
    </main> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script> -->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="../../assets/js/vendor/holder.min.js"></script> -->
  <!-- </div>
</div> -->